
<br>
<p>design and developed by</p>
<h4><strong>Đorđe Tasković</strong></h4>


<address>
    <abbr title="Phone">P:</abbr>
    063/365-345<br />
    <strong>e-mail:</strong><a href="mailto:tasko83@gmail.com">tasko83@gmail.com</a><br />
</address>
<hr>
<p>Home library solution</p>


