@{
    ViewBag.Title = "hLib";
}

<div class="col-md-12 indexPageTitleDiv">
    <div class="col-md-6">
        <h1>Home library</h1>
        <h4>software solution</h4>
    </div>

    <div class="col-md-6">
        <div id="logoDiv" class="img-circle">
            <img src="~/Content/icons/Logomakr_5bsfMK.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Explore books</h2>
        <p class="justifyP">
            List through books collection, sort by column, filter by one or more book details, add new book with ISBN number validation, modify existing book details...
        </p>
        <a href="/Books" class="btn btn-primary homeIndexButton" role="button">
            Go to books...
            <img class="indexHomeIcons" src="~/Content/icons/1492553411_editor-books-library-collection-outline-stroke.ico">
        </a>        
    </div>

    <div class="col-md-4">
        <h2>Check authors</h2>
        <p class="justifyP">View, create, modify and delete authors, soft, filter, check author books...</p>
        <a href="/Authors" class="btn btn-primary homeIndexButton" role="button">
            Go to authors...
            <img class="indexHomeIcons" src="~/Content/icons/1492553416_icon-ios7-people-outline.ico">
        </a>
    </div>

    <div class="col-md-4">
        <h2>Define neccesary</h2>
        <p class="justifyP">
            View, create, modify and delete @Html.ActionLink("languages", "Index", "languages"),
            @Html.ActionLink("nationalities", "Index", "nationalities") and
            @Html.ActionLink("genres", "Index", "genres") so you can create books and authors in a proper way.
        </p>
    </div>
</div>