<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="modalDelete">
    <div class="modal-dialog" role="document">
        <div id="deleteModalContent" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalDeleteH4"></h4>
            </div>
            <div class="modal-body">
                <h4 id="deleteModalH4question"></h4>
                <p id="deleteModalP" class="modalDeleteContent"></p>
            </div>
            <div class="modal-footer">

                @using (Html.BeginForm("", "", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
            </div>
        </div>
    </div>
</div>



